
1. Computación en la nube/.DS_Store

.DS_Store

1. Computación en la nube/Practica_1_Enunciado/.idea/

1. Computación en la nube/Practica_1_Enunciado/.mvn/

1. Computación en la nube/Practica_1_Enunciado/.factorypath

*.iml
